<div class="initial_input">
<form action="/players/new" method="post">
 <h2> <label>Game Title</label> </br> <h2>
 <input type = "text" class= "input_box" name = "title"> </br>
 <h2> <label>How many players would you like in your game?</label> </br> <h2>
  <input type = "text" class= "input_box" name = "number"> </br>
  <input class="semi_button" type = "submit" value = "Create a New Game!">
</form>
</div>
