<form action="/players/new" method="post">
  <label>Game Title</label>
  <input type = "text" name = "title">
  <label>How many players would you like in your game?</label>
  <input type = "text" name = "number">
  <input type = "submit" value = "Create a New Game!">
</form>
