/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
  background-color: #53BCDD;
  text-align: center;
  font-family: 'open sans';
  padding: 2%;
	color: white;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.player_status_container {
  width: 29%;
  float: left;
  margin-bottom: 3em;
  margin-right: 2%;
  margin-left: 2%;
	background-color: white;
	border: 1px black solid;
}

.player_wrapper {
  width: 29%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px black solid;
}

.player_name {
  vertical-align: center;
  font-size: 3em;
  width: 100%;
  background-color: #3498DB;
	color: white;
}

.status_bar {
  background-color: #3498DB;
	color: white;
}

.player_status, .player_kills {
  border-right: 2px white;
  width: 50%;
}

.player_status, .player_kills {
  font-size: 1.5em;
  width: 50%;
  float: left;
}

.kill_button_wrapper {
  float: right;
  margin: auto;
  clear: both;
  width: 100%;
  background-color: #E74C3C;
  font-size: 1.5em;
  height: 45px;
}

.kill_button_wrapper:hover {
  float: right;
  margin: auto;
  clear: both;
  width: 100%;
  background-color: #F39C12;
  font-size: 1.5em;
  height: 45px;
	color: white;
}

.dead_button_wrapper {
  float: right;
  margin: auto;
  clear: both;
  width: 100%;
  background-color: #464545;
  color: white;
  font-size: 2em;
  height: 45px;
}

.logo_image {
  width: 15%;
  float: left;
  margin-bottom: 3em;
}

.ninja {
	height: 200px;
  margin: auto;
}

.header {
  width: 100%;
}

.game_info {
  width: 80%;
  float: left;
  margin-left: 3%;
  font-size: 1.4em;
  text-align: left;
  background-color: white;
  color: black;
}

.content {
  width: 100%;
  clear: both
}

.initial_input {
 font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
  text-align:center;
}
.semi_button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  margin: 20px;
  color: #fff;
  background-color: #e67e22;
}
.input_box{
  margin: 15px;
	font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
  text-align:center;
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
