/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
  background-color: #70BBD9;
  text-align: center;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  padding: 2%;
	color: white;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.super_wrapper {
  width: 29%;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 30px;
}

.individual_game_container {
  width: 29%;
  float: left;
  margin-bottom: 3em;
  margin-right: 2%;
  margin-left: 2%;
	background-color: white;
  border-radius: 15px;
}

.player_name, .game_name {
  vertical-align: center;
  font-size: 2em;
  width: 100%;
	color: white;
  border-radius: 15px 15px 0px 0px;
}

.player_name {
  background-color: #3498DB;
}

.game_name {
  background-color: #e67e22;
  margin-bottom: 15px;
  padding: 15px;
}

.status_bar {
  background-color: #3498DB;
	color: white;
  border-radius: 5px;
}

.player_status, .player_kills {
  font-size: 1.5em;
  width: 50%;
  float: left;
}

.kill_button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  margin: 20px;
  color: #fff;
  background-color: #e67e22;
}

.kill_button:hover {
  background-color: #E74C3C;
}

.dead_button_wrapper {
  float: right;
  margin: auto;
  clear: both;
  width: 100%;
  background-color: #464545;
  color: white;
  font-size: 2em;
  height: 45px;
}

.logo_image {
  width: 15%;
  float: left;
  margin-bottom: 3em;
}

.ninja {
	height: 200px;
  margin: auto;
  margin-top: 2em;
}

.header {
  width: 100%;
}

.game_info {
  width: 80%;
  float: left;
  margin-left: 3%;
  font-size: 1.4em;
  text-align: left;
  background-color: white;
  color: black;
}

.content {
  width: 85%;
  clear: both;
  margin: 15%
}

.list_players {
  color: black;
  font: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.game_name a:link {
  text-decoration: none;
  color: white;
}

.game_name a:visited {
  text-decoration: none;
  color: white;
}

.initial_input {
 font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
  text-align:center;
}

.semi_button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  margin: 20px;
  color: #fff;
  background-color: #e67e22;
}
.input_box{
  margin: 15px;
	font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
  text-align:center;
}
