<div class="initial_input">
<form action="/players" method="post">
 <h2> <label>Email</label> </br> <h2>
 <input type = "text" class= "input_box" name = "title"> </br>
  <input class="semi_button" type = "submit" value = "Enter Email!">
</form>
</div>
